html{
    width: 100%;
    height: 100%;
}
body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
  display: table;
  width: 100%;
  height: 100%;
}
.mui-container {
  max-width: 320px;
  display: table-cell;
  vertical-align: middle;
}
.mui-container .mui-panel{
  background-color: #a6a6a6;
}
.mui-container button{
  width: 100%;
}
.mui-container .mui-btn + .mui-btn{
  margin-left: 0;
}